docs/Lists/article.xsd

<?xml version="1.0" encoding="ISO-8859-1" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:complexType name="Article">
		<xs:sequence>
    
			<xs:element name="ArticleName" type="xs:string"/>
			<xs:element name="Type"        type="xs:string" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	<xs:attribute name="ArticleID"       type="xs:integer" use="required"/>
	</xs:complexType>

</xs:schema> 